@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_LayoutMaster.cshtml";

    foreach (var node in Model.Content.Children)
    {
        if (node.DocumentTypeAlias == "Callout")
        {
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="alert alert-dismissible @(Tapas.GetStringValue(node, "Type")) col-md-10">
                    <h2 class="white centre">@(Html.Raw(Tapas.GetStringValue(node, "Copy")))</h2>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        }
        
        
         if (node.DocumentTypeAlias == "SectionFullWidth")
         {
           
                <div class="row">
                    <div class="col-md-1">
                    </div>

                        <div class="col-md-10 lead">@(Html.Raw(Tapas.GetStringValue(node, "Copy")))</div>
                    <div class="col-md-1">
                    </div>
                </div>
         }
         
         if (node.DocumentTypeAlias == "Section")
         {
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-2 vtop">
                    <h2>@node.Name</h2>
                </div>
                <div class="col-md-8 text-section">
                     @(Html.Raw(Tapas.GetStringValue(node, "Copy")))
                </div>
                <div class="col-md-1">
                </div>
            </div>
         }         
    }   
}


<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 vtop">
        <h2>Previous Work</h2>
    </div>
    <div class="col-md-8 text-section">
        <div class="bs-component">

            <div class="panel panel-primary">

                <div class="panel-heading">

                    <h3 class="panel-title">Panel primary</h3>

                </div>

                <div class="panel-body">Panel content</div>

            </div>

            <div class="panel panel-success">

                <div class="panel-heading">

                    <h3 class="panel-title">Panel success</h3>

                </div>

                <div class="panel-body">Panel content</div>

            </div>

            <div class="panel panel-warning">

                <div class="panel-heading">

                    <h3 class="panel-title">Panel warning</h3>

                </div>

                <div class="panel-body">Panel content</div>

            </div>

        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
