@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_LayoutMaster.cshtml";

    foreach (var node in Model.Content.Children)
    {
        if (node.DocumentTypeAlias == "Callout")
        {
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="alert alert-dismissible @(Tapas.GetStringValue(node, "Type")) col-md-10">
                    <h2 class="white centre">@(Html.Raw(Tapas.GetStringValue(node, "Copy")))</h2>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        }
        
        
         if (node.DocumentTypeAlias == "SectionFullWidth")
         {
           
                <div class="row">
                    <div class="col-md-1  hidden-xs">
                    </div>

                        <div class="col-md-10   hidden-xs lead">@(Html.Raw(Tapas.GetStringValue(node, "Copy")))</div>
                    <div class="col-md-1   hidden-xs">
                    </div>
                </div>
         }
         
         if (node.DocumentTypeAlias == "Section")
         {
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-2 vtop">
                    <h2>@node.Name</h2>
                </div>
                <div class="col-md-8 text-section">
                     @(Html.Raw(Tapas.GetStringValue(node, "Copy")))
                </div>
                <div class="col-md-1">
                </div>
            </div>
         }

         if (node.DocumentTypeAlias == "SectionFolder")
         {
            
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-2 vtop">
                    <h2>@node.Name</h2>
                </div>
                <div class="col-md-8 text-section">
                    @foreach(var n in node.Children()){
                        <div class="panel @(Tapas.GetStringValue(n, "Type"))">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Tapas.GetStringValue(n, "Header")</h3>
                            </div>
                            <div class="panel-body">@Html.Raw(Tapas.GetStringValue(n, "Copy"))</div>
                        </div>
                    }
                </div>
                <div class="col-md-1">
                </div>
            </div>
         }
    }   
}
